target_node           = "pve"
clone_template        = "ubuntu-template-24.04-LTS"
clone_template_debian = "debian-template-12"


cores   = 4
sockets = 1
vcpus   = 0
memory  = 8192

cloudinit_storage   = "local-lvm"
disk_size           = 32
disk_size_kubespray = 100
disk_cache          = "writeback"
disk_storage        = "local-lvm"
disk_replicate      = true

network_model  = "virtio"
network_bridge = "vmbr0"
network_tag    = 50

# IP Configuration
ip_base    = "10.0.50"
ip_netmask = "24"
ip_gateway = "10.0.50.1"

control_plane_ip_start = 40
worker_ip_start        = 42

control_plane_ip_start_kubespray = 50
worker_ip_start_kubespray        = 52

# Cloud-init user configuration
# Set these via environment variables: TF_VAR_ciuser and TF_VAR_cipassword
# ciuser     = "your_username"
# cipassword = ""

tags = ["iac"]
